@model dynamic

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<title>title</title>
</head>
<body>
	<h1>Timespinner Bosses</h1>
	<table>
		<thead>
			<tr>
				<td>
					Name
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<a href="https://www.neoseeker.com/timespinner/Walkthrough/Boss_Aelana">
					<td>Varndagroth Borealis</td>
				</a>
			</tr>
			<tr>
				<a href="https://www.neoseeker.com/timespinner/Walkthrough/Boss_Aelana">
					<td>Aelana Vilete</td>
				</a>
			</tr>
		</tbody>
	</table>
</body>
</html>